[submodule "areas"]
	path = areas
	url = https://github.com/minetest-mods/areas.git
[submodule "irc"]
	path = irc
	url = https://github.com/minetest-mods/irc.git
[submodule "morelights"]
	path = morelights
	url = https://github.com/random-geek/morelights.git
[submodule "irc_commands"]
	path = irc_commands
	url = https://github.com/minetest-mods/irc_commands.git
[submodule "display_api"]
	path = display_api
	url = https://github.com/minetest-mods/display_api
[submodule "xban2"]
	path = xban2
	url = https://github.com/minetest-mods/xban2
