[submodule "areas"]
	path = areas
	url = https://github.com/minetest-mods/areas.git
[submodule "irc"]
	path = irc
	url = https://github.com/minetest-mods/irc.git
[submodule "morelights"]
	path = morelights
	url = https://github.com/random-geek/morelights.git
[submodule "irc_commands"]
	path = irc_commands
	url = https://github.com/minetest-mods/irc_commands.git
[submodule "xban2"]
	path = xban2
	url = https://github.com/minetest-mods/xban2
[submodule "castle_gates"]
	path = castle_gates
	url = https://github.com/minetest-mods/castle_gates
[submodule "ltc4000e"]
	path = ltc4000e
	url = https://cheapiesystems.com/git/ltc4000e/
[submodule "ambience"]
	path = ambience
	url = https://codeberg.org/TenPlus1/ambience
[submodule "notice"]
	path = notice
	url = https://github.com/BlockCityCreative/notice
[submodule "lightcontroller"]
	path = lightcontroller
	url = https://cheapiesystems.com/git/lightcontroller/
[submodule "digistuff_nbextras"]
	path = digistuff_nbextras
	url = https://cheapiesystems.com/git/digistuff_nbextras/
[submodule "handdryer"]
	path = handdryer
	url = https://cheapiesystems.com/git/handdryer/
[submodule "digiterms"]
	path = digiterms
	url = https://github.com/pyrollo/digiterms
[submodule "icemachine"]
	path = icemachine
	url = https://cheapiesystems.com/git/icemachine/
[submodule "teleport-request"]
	path = teleport-request
	url = https://github.com/minetest-mods/teleport-request
[submodule "areasprotector"]
	path = areasprotector
	url = https://cheapiesystems.com/git/areasprotector/
[submodule "travelnet"]
	path = travelnet
	url = https://github.com/mt-mods/travelnet
[submodule "beerchat"]
	path = beerchat
	url = https://github.com/mt-mods/beerchat/
[submodule "inspector"]
	path = inspector
	url = https://github.com/minetest-mods/inspector
[submodule "mesecons_carts"]
	path = mesecons_carts
	url = https://cheapiesystems.com/git/mesecons_carts/
[submodule "pbj_pup"]
	path = pbj_pup
	url = https://codeberg.org/TenPlus1/pbj_pup
[submodule "dropthecaps"]
	path = dropthecaps
	url = https://cheapiesystems.com/git/dropthecaps/
[submodule "mesecons_display"]
	path = mesecons_display
	url = https://cheapiesystems.com/git/mesecons_display
[submodule "bucket_privs"]
	path = bucket_privs
	url = https://github.com/ChaosWormz/bucket_privs.git
[submodule "playersettings"]
	path = playersettings
	url = https://cheapiesystems.com/git/playersettings/
[submodule "minetest-snippets"]
	path = minetest-snippets
	url = https://gitlab.com/luk3yx/minetest-snippets.git/
[submodule "minislots"]
	path = minislots
	url = https://github.com/mt-mods/minislots.git
[submodule "doxy_morelights_dim"]
	path = doxy_morelights_dim
	url = https://invent.kde.org/davidhurka/doxy_morelights_dim.git
[submodule "printer"]
	path = printer
	url = https://cheapiesystems.com/git/printer
[submodule "elevatorparts"]
	path = elevatorparts
	url = https://cheapiesystems.com/git/elevatorparts/
[submodule "creativesettings"]
	path = creativesettings
	url = https://cheapiesystems.com/git/creativesettings/
[submodule "we_undo"]
	path = we_undo
	url = https://github.com/HybridDog/we_undo
[submodule "minetest-laptop"]
	path = minetest-laptop
	url = https://github.com/Gerold55/minetest-laptop
[submodule "mt_morcmds"]
	path = mt_morcmds
	url = https://github.com/ChaosWormz/mt_morcmds.git
[submodule "PCPack1"]
	path = PCPack1
	url = https://github.com/Gerold55/PCPack1
[submodule "laptop_extend_pack_2"]
	path = laptop_extend_pack_2
	url = https://github.com/Chrithon/laptop_extend_pack_2
[submodule "firealarm"]
	path = firealarm
	url = https://cheapiesystems.com/git/firealarm/
[submodule "daynightratio"]
	path = daynightratio
	url = https://cheapiesystems.com/git/daynightratio/
[submodule "wield3d"]
	path = wield3d
	url = https://github.com/stujones11/wield3d
[submodule "Minetest-WorldEdit"]
	path = Minetest-WorldEdit
	url = https://github.com/Uberi/Minetest-WorldEdit.git
[submodule "digiline_routing"]
	path = digiline_routing
	url = https://github.com/numberZero/digiline_routing
[submodule "names_per_ip"]
	path = names_per_ip
	url = https://github.com/SmallJoker/names_per_ip.git
[submodule "letters"]
	path = letters
	url = https://github.com/minetest-mods/letters
[submodule "skinsdb"]
	path = skinsdb
	url = https://github.com/minetest-mods/skinsdb
[submodule "digiscreen"]
	path = digiscreen
	url = https://cheapiesystems.com/git/digiscreen/
[submodule "fsc"]
	path = fsc
	url = https://github.com/sofar/fsc
[submodule "lib_mount"]
	path = lib_mount
	url = https://github.com/minetest-mods/lib_mount
[submodule "newplayer"]
	path = newplayer
	url = https://cheapiesystems.com/git/newplayer
[submodule "elevator"]
	path = elevator
	url = https://github.com/tigris-mt/elevator.git
[submodule "digilines"]
	path = digilines
	url = https://github.com/minetest-mods/digilines.git
[submodule "display_modpack"]
	path = display_modpack
	url = https://github.com/pyrollo/display_modpack.git
[submodule "Uvents"]
	path = Uvents
	url = https://github.com/LminusSucksAtCoding/Uvents.git
[submodule "vehicle_mash"]
	path = vehicle_mash
	url = https://github.com/minetest-mods/vehicle_mash
[submodule "worldedit_hud_helper"]
	path = worldedit_hud_helper
	url = https://gitlab.com/sbrl/worldedit_hud_helper.git
[submodule "celevator"]
	path = celevator
	url = https://cheapiesystems.com/git/celevator/
[submodule "motorbike"]
	path = motorbike
	url = https://github.com/Extex101/motorbike
[submodule "floating_anchor"]
	path = floating_anchor
	url = https://github.com/sbrl/minetest-floating_anchor
[submodule "gates"]
	path = gates
	url = https://bitbucket.org/kingarthursteam/gates/
[submodule "mooncontroller"]
	path = mooncontroller
	url = https://github.com/mt-mods/mooncontroller
[submodule "mooncontroller_convert"]
	path = mooncontroller_convert
	url = https://cheapiesystems.com/git/mooncontroller_convert/
[submodule "advtouchscreen"]
	path = advtouchscreen
	url = https://cheapiesystems.com/git/advtouchscreen/
[submodule "mesecons_better_vertical"]
	path = mesecons_better_vertical
	url = https://cheapiesystems.com/git/mesecons_better_vertical/
[submodule "mesecons"]
	path = mesecons
	url = https://github.com/minetest-mods/mesecons
[submodule "digistuff"]
	path = digistuff
	url = https://github.com/mt-mods/digistuff
[submodule "vizlib"]
	path = vizlib
	url = https://github.com/OgelGames/vizlib
[submodule "cb_spill"]
	path = cb_spill
	url = https://cheapiesystems.com/git/cb_spill/
[submodule "terumet_lite"]
	path = terumet_lite
	url = https://cheapiesystems.com/git/terumet_lite/
